@font-face {
  font-family: 'MyFont';
  src: url('../fonts/MyFont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MyFont.otf')  format('opentype'),
	    url('../fonts/MyFont.woff') format('woff'),
      url('../fonts/MyFont.ttf')  format('truetype'),
      url('../fonts/MyFont.svg#Flama-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
